@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* For WebKit browsers like Chrome, Safari */
::-webkit-scrollbar {
    width: 4px; /* Adjust this value to set the scrollbar width */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Customize the scrollbar thumb color */
    border-radius: 4px; /* Optional: make it rounded */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Customize the track color */
}

@layer base {
    body {
        @apply text-neutral-950;
        list-style: none;
    }

    p {
        @apply text-neutral-600
    }

    .font-pacifico {
        font-family: "Pacifico", cursive;;
    }
    .font-source-code-pro {
        font-family: "Source Code Pro", monospace;
    }
    .font-noto-serif {
        font-family: "Noto Serif", serif;
    }

    .font-inter {
        font-family: "Inter", serif;
    }

    .focus {
        @apply focus-visible:outline-neutral-950 focus-visible:outline;
    }

    .content-sidebar {
        @apply py-4 overflow-hidden flex flex-col gap-4 border-r
    }

    .active-icon {
        @apply filter;
        filter: brightness(0) saturate(100%) invert(24%) sepia(69%) saturate(3794%)
        hue-rotate(228deg) brightness(108%) contrast(101%);
    }

    .flex-center {
        @apply flex justify-center items-center;
    }
}